# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/

# Large datasets
data/
datasets/

# YOLO training runs
runs/

# Logs
*.log